:root {
  --font-size: 1.5em;
  --p-size: 1em;
}

.grid-container {
  display: grid;
  grid-template-columns: 0fr 2fr 0fr;
  grid-template-rows: 1fr;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
main {
  background-color: lightblue;
}
  
h3 {
  font-size: var(--font-size);
  text-align: center;
}

p {
  font: var(--p-size);
  text-align: center;
}

.sides {
  background-color: violet;
  min-height: 400px;
}

@media screen and (min-width: 950px) {
  .grid-container {
    grid-template-columns: 1fr 6fr 1fr;
  }
}