:root {
  --font-size: 1.5em;
  --p-size: 1.3em;
}

main {
  background-color: lightblue;
  margin-top: 10px;
  margin-bottom: 10px;
}

#info-website {
  font-size: var(--p-size);
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: lavender;
  padding: 5px 5px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

a:hover {
  background-color: lavenderblush;
}

.grid-container {
  display: grid;
  width: auto;
}

main {
  display: grid;
  width: auto;
  padding: 15px 15px;
  text-align: center;
}

img {
  height: auto;
  width: auto;
  padding: 5px 5px;
}

main .wallpaper img:hover {
  box-shadow:5px 5px rgb(77, 111, 122);
  height: 350px;
}
  
h3 {
  font-size: var(--font-size);
  text-align: center;
}

p, ul {
  font-size: 16px;
  text-align: center;
  list-style-type: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0,0,0,0.9);
}

.modal-details {
  background-color: #fefefe;
  margin: 8%;
  padding: 20px;
  border: 1px solid #888;
  width: auto;
  vertical-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.info-container a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

#animeDetails {
  padding-left: 0%;
}

.genre-buttons {
  background-color: lavender;
  border: none;
}

.genre-buttons:hover {
  background-color: lavenderblush;
}

#search {
  display: none;
  font-size: 14px;
  background-color: white;
  border: none;
  width: 80%;
  height: 20px;
}

form-icons i {
  position: absolute;
}

#search-button, #clear-button {
  background-color: lavender;
  border: none;
  height: 20px;
  cursor: pointer;
}

#search-button:hover, #clear-button:hover {
  background-color: lavenderblush;
}

#results {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: lightblue;
}

#results img {
  position:static;
  vertical-align: center;
  justify-self: center;
}

#results p {
  display: inline;
}

@media screen and (min-width: 500px) {
  .grid-container {
    grid-template-columns: 0fr 2fr 0fr;
  }
}

@media screen and (min-width: 950px) {
  .grid-container {
    grid-template-columns: 1fr 6fr 1fr;
  }
}