:root {
  --font-size: 1.5em;
  --p-size: 1.3em;
  /* --lavender: rgb(232, 198, 255); */
  --lavender-hover: rgb(242, 224, 255);
  --primary-color: rgb(30, 30, 30);
  --nav-color: rgb(128, 0, 128);
  --secondary-color: rgb(18, 18, 18);
}

.light-theme {
  --primary-color: #fff;
  --secondary-color: #fff;
  --font-color: black;
  --nav-color: rgb(232, 198, 255);
}

* {
  margin: 0%;
}

main {
  background-color: var(--secondary-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 15px;
  text-align: center;
}

#toggle-icon {
  width: 20px;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--nav-color);
  padding: 5px 5px;
}

nav a {
  text-decoration: none;
  color: var(--font-color);
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
  color: var(--lavender-hover);
}

#info-website {
  font-size: var(--p-size);
}

main .cards img {
  height: 350px;
  width: auto;
  padding: 8px 8px;
  padding-right: 0px;
  padding-bottom: 0px;
}

main .cards img:hover {
  box-shadow:5px 5px var(--nav-color);
  height: 360px;
}
  
h3 {
  font-size: var(--font-size);
  text-align: center;
}

p, ul {
  font-size: 16px;
  text-align: center;
  list-style-type: none;
}

.modal {
  display: none;
  position: fixed;
  color: black;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0,0,0,0.9);
}

.modal-details {
  background-color: #fefefe;
  margin: 8%;
  padding: 20px;
  border: 1px solid rgb(136, 136, 136);
  width: auto;
  vertical-align: center;
}

.close {
  color: rgb(176, 176, 176);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.info-container a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

#animeDetails {
  padding-left: 0%;
}

.genre-buttons {
  background-color: var(--lavender);
  border: none;
}

.genre-buttons:hover {
  background-color: var(--lavender-hover);
}

#search {
  display: inline-block;
  font-size: 14px;
  background-color: white;
  border: none;
  width: 120px;
  height: 20px;
}

form-icons i {
  position: absolute;
}

#search-button, #clear-button {
  background-color: var(--lavender);
  border: none;
  height: 20px;
  cursor: pointer;
}

#search-button:hover, #clear-button:hover {
  background-color: var(--lavender-hover);
}

#results {
  text-align: center;
  background-color: var(--light-blue);
}

#results img {
  position: static;
  vertical-align: center;
  justify-self: center;
}

#results ul {
  list-style-type: none;
}

#results a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: var(--primary-color);
  color: var(--font-color);
  padding: 5px 5px;
}

footer a {
  color: var(--font-color);
  text-decoration: none;
  font-style: italic;
}